body {
    background-color: rgb(10, 10, 10);
    height: 100%;
    margin: 0rem;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }

    50% {
        scale: 1.1 1.2;
    }

    to {
        rotate: 360deg;
    }
}

@keyframes floatup {
    from {transform: translateY(0px);}
    to {transform: translateY(-100px);}
}

@keyframes opac{
    from{opacity:0};
    to{opacity:1};
}


h1, h2 {
    font-family: 'Space Mono', monospace;
    color: gray;
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
    margin: 0rem;
    position: absolute;
    left: 50%;
    translate: -50% -50%;
    z-index: 3;
}

h1 {
    font-size: clamp(3rem, 10vw, 10rem);
    top: 40%;
}

h2 {
    font-size: clamp(3rem, 2vw, 2rem);
    top: 50%;
}


button {
    translate: -50% -50%;
    position: absolute;
    left: 50%;
    min-height: 60px;
    min-width: 0;
    top: 65%;
    z-index: 3;
    background-color: #111827;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: .75rem 1.2rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
}

button:hover {
  background-color: #374151;
}

button:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  button {
    padding: .75rem 1.5rem;
  }
}
